<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <span class="navigation-links-text"><span>About</span></span>
    <a
      href="https://docs-solidworld.mofulight.com/"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link"
    >
      <span>Docs</span>
    </a>
    <span class="navigation-links-text1"><span>Leaderboard</span></span>
    <a href="donate.html" class="navigation-links-navlink">
      <span>Donate</span>
    </a>
    <a
      href="https://discord.gg/Qg8VCXbJxR"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link1"
    >
      <span>Discord</span>
    </a>
  </nav>
</div>
